.menuimg { 
    width: 80px;
    height: 80px;
}
.inv {
    display: flex;
}
.green{
    background-color: #7FB800;
}
@media (max-width: 899.20px) {
    .menuimg {
        display: none;
    }
  }