/* #root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 0px;
  }
  
.menu {
    align-items: center;
    display: flex;
    background-color: #FFFFFF;
    height: 30px;
    padding: 15px;
}
  
.menu img {
    padding-right: 20px;
    width: 130px;
    height: 30px;
}
  
.menu ul {
    align-items: center;
    display: flex;
    flex: 1;
    height: 80px;
    list-style: none;
    margin: 0 0 0 -8px;
    padding-left: 0;
    text-align: center;
}

/* 1 option */
/* .menu a {
    font-size: 16px;
    color: #1A1A1A;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 20px;
}
  
.menu a:hover {
    text-decoration: none;
    color: #1A1A1A;
    background-color: #E8E8E8;
    border-radius: 10px;
}
  
.menu a:hover {
    text-decoration: none;
    color: #1A1A1A;
    border-bottom: #7FB800 solid 2px;
}
.menu a {
    font-size: 16px;
    color: #1A1A1A;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}



.menu .rightmenu {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
}
  
body{
    margin: 0px;
    padding: 0px;
}

.box{
    display: flex;
    justify-content: center;
    height: 500px;
}

.box1{
    background-color: aqua;
    width: 50%;
}

.box2{
    width: 50%;
}

.div-2{
    padding: 20px;
    background-color: #F2F2F2;
    height: 600px;
}

.div-box{
    background-color: ;
    width: 400px;
    background-color: #A6E5F2;
    /* background-color: #7FB800;
    margin: 10px;
    border-radius: 15px;
}

.button-green{
    background-color: #7FB800;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #7FB800;
    margin: 10px;
}

.button-green:hover{
    background-color: #689801;
    border: 1px solid #689801;
}

.button-green-line{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #7FB800;
    margin: 10px;
} */