.footer{
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 50px 20px;
}

.big-box{
    display: flex;
    justify-content: center;
}

.box-1{
    width: 200px;
    background-color: #1A1A1A;
}